<div id="navigation">
  <h1>目录</h1>
  <ul class="nav sidenav">
  </ul>
  <div style="height: 200px;width: 200px;">
    <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i={{ site.revolvermaps }}&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"> 
    </script>
  </div>
  <div style="height: 50px;width: 200px;"></div>
  <div style="height: 30px;width: 200px;text-align:center">
    <p>
      <font size="3" face="Times">
        赏一杯咖啡 ^_^
      </font>
    </p>
  </div>
  <div style="height: 200px;width: 200px;text-align:center">
    <p>微信</p>
    <img src="/images/weixin.jpeg" width="80%"/>
  </div>
  <div style="height: 20px;width: 200px;"></div>
  <div style="height: 200px;width: 200px;text-align:center">
    <p>支付宝</p>
    <img src="/images/zhifubao.jpeg" width="80%"/>
  </div>
</div>

